@model MedicalCenterServiceModel

@{ ViewData["Title"] = "Medical Center Details";
}

<div class="jumbotron">
    <h1 class="display-4">@Model.Name @Model.Type</h1>
    <div class="col-md-4" style="width: 18rem;">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Medical Center image">
    </div>
    <hr class="my-4">
    <p>@nameof(Model.Address): @Model.Address</p>
    <p>@nameof(Model.City): @Model.City</p>
    <p>@nameof(Model.Country): @Model.Country</p>
    <hr class="my-4">
    <p>@Model.Description</p>
    <hr class="my-4">
    <p>There are @Model.PhysiciansCount physicians working in our medical center.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" asp-controller="Physicians" asp-action="All" asp-route-MedicalCenter="@Model.Name">Check our physicians</a>
    </p>
</div>
