@using static TheReadingClub.ProjectConstants;
@model AuthorViewModel

<div class="container card">
    <div class="row col-lg-12">
    <img class="card-img-top col-lg-6" src="@Model.ImageURL" alt="Card image cap">
    <div class="card-body col-lg-6">
        <h5 class="card-title">@Model.FullName - Published books: @Model.Books.Count()</h5>
        @foreach (var book in Model.Books)
        {
            <a asp-controller="Book" asp-action="ById" asp-route-id="@book.Id">
                @book.Title
            </a>
            <div>
                @foreach (var genre in book.Genre)
                {
                    <table>
                        <tr>@genre</tr>
                    </table>
                }
            </div>
        }
        @if (User.IsInRole(ModeratorRole) || User.IsInRole(AdminRole))
        {
            <a class="btn btn-info" role="button" asp-controller="Author" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
    </div>
    </div>
</div>